@page "/Account/ForgotPasswordConfirmation"
@layout AuthLayout

<PageTitle>Confirmación de Envío</PageTitle>

<h2 class="login-title">CORREO ENVIADO</h2>

<div class="form-wrapper">
    <div class="confirmation-card">

        <i class="bi bi-envelope-check-fill success-icon"></i>

        <p class="confirmation-text">
            Por favor, revisa tu correo electrónico para restablecer tu contraseña.
        </p>

        <div class="login-links">
            <a href="/">
                <i class="bi bi-arrow-left-circle-fill link-icon"></i> Volver al Inicio de Sesión
            </a>
        </div>

    </div>
</div>