@page "/"
@layout AuthLayout
@inject SignInManager<ApplicationUser> SignInManager
@inject ILogger<Login> Logger
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager

<h2 class="login-title">INICIO DE SESIÓN</h2>

<div class="form-wrapper">
    <StatusMessage Message="@errorMessage" />

    <EditForm Model="Input" method="post" OnValidSubmit="LoginUser" FormName="login">
        <DataAnnotationsValidator />

        <div class="form-grid">

            <div class="form-item">
                <label>
                    <i class="bi bi-person-fill input-icon"></i> Usuario
                </label>
                <InputText @bind-Value="Input.Email" class="input-box" placeholder="" />
                <ValidationMessage For="() => Input.Email" class="text-danger" />
            </div>

            <div class="form-item">
                <label>
                    <i class="bi bi-lock-fill input-icon"></i> Contraseña
                </label>
                <InputText type="password" @bind-Value="Input.Password" class="input-box" placeholder="" />
                <ValidationMessage For="() => Input.Password" class="text-danger" />
            </div>

            <div class="form-item button-item">
                <button type="submit" class="btn-login">Iniciar sesión</button>
            </div>

        </div>

        <div class="login-links">
            <a href="Account/ForgotPassword">
                <i class="bi bi-key-fill link-icon"></i> Olvidé mi contraseña
            </a>
            <a href="@(NavigationManager.GetUriWithQueryParameters("Account/Register", new Dictionary<string, object?> { ["ReturnUrl"] = ReturnUrl }))">
                <i class="bi bi-person-plus-fill link-icon"></i> Crear cuenta
            </a>
        </div>

    </EditForm>
</div>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    private string? errorMessage;

    protected override async Task OnInitializedAsync()
    {
        if (HttpMethods.IsGet(HttpContext.Request.Method))
        {
            await HttpContext.SignOutAsync(IdentityConstants.ExternalScheme);
        }
    }

    public async Task LoginUser()
    {
        var result = await SignInManager.PasswordSignInAsync(Input.Email, Input.Password, Input.RememberMe, lockoutOnFailure: false);
        if (result.Succeeded)
        {
            Logger.LogInformation("User logged in.");

            RedirectManager.RedirectTo("/Inicio");
        }
        else
        {
            errorMessage = "Error: Intento de inicio de sesión no válido.";
        }
    }

    private sealed class InputModel
    {
        [Required]
        [EmailAddress]
        public string Email { get; set; } = "";

        [Required]
        [DataType(DataType.Password)]
        public string Password { get; set; } = "";

        [Display(Name = "Remember me?")]
        public bool RememberMe { get; set; }
    }
}