/* Solo mantenemos los estilos únicos de esta página */

.badge-main {
    background-color: #78BE42; /* Verde Disponible */
    color: white;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 10px;
    font-weight: 700;
}
