@page "/cuenta/autorizados/upsert/{AutorizadoEntregaId:int}"
@inject NavigationManager NavManager
@inject AutorizadosEntregaService autorizadosEntregaService
@rendermode InteractiveServer

<SectionContent SectionName="TituloPagina">
    <h1>Cuenta : crear autorizados para entrega</h1>
</SectionContent>

<div class="glass-container create-authorized-view">

    <div class="sub-nav-bar">
        <NavLink class="sub-nav-item" href="/cuenta">Perfil</NavLink>
        <div class="separator"></div>

        <NavLink class="sub-nav-item" href="/cuenta/direcciones">Direcciones</NavLink>
        <div class="separator"></div>

        <NavLink class="sub-nav-item active" href="/cuenta/autorizados">Autorizados</NavLink>
    </div>

    <div class="form-content">
        <h3 class="section-title">@Estado Autorizada</h3>

        <EditForm Model="Autorizado" OnValidSubmit="GuardarAutorizado">
            <DataAnnotationsValidator />

            <div class="form-grid">
                <div class="input-group">
                    <label>Identificacion</label>
                    <InputText @bind-Value="Autorizado.Identificacion" class="input-box" placeholder="000-0000000-0" />
                    <ValidationMessage For="@(()=>Autorizado.Identificacion)"/>
                </div>

                <div class="input-group">
                    <label>Nombre Completo</label>
                    <InputText @bind-Value="Autorizado.Nombres" class="input-box" placeholder="Nombre y Apellido" />
                    <ValidationMessage For="@(() => Autorizado.Nombres)" />

                </div>

                <div class="input-group">
                    <label>Teléfono</label>
                    <InputText @bind-Value="Autorizado.Telefono" class="input-box" placeholder="809-000-0000" />
                    <ValidationMessage For="@(() => Autorizado.Telefono)" />

                </div>

                <div class="input-group">
                    <label>Correo</label>
                    <InputText @bind-Value="Autorizado.Correo" class="input-box" placeholder="cliente@correo.com" />
                    <ValidationMessage For="@(() => Autorizado.Correo)" />
                </div>
                
            </div>

            <div class="action-buttons">
                <a href="/cuenta/autorizados" class="btn-cancel">Cancelar</a>
                <button type="submit" class="btn-save">Guardar</button>
            </div>

        </EditForm>
    </div>

</div>

@code {
    [Parameter]
    public int AutorizadoEntregaId { get; set; }

    public AutorizadosEntrega Autorizado { get; set; } = new AutorizadosEntrega();
    public string Estado { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (AutorizadoEntregaId > 0)
        {
            Estado = "Editar";
            Autorizado = await autorizadosEntregaService.Buscar(AutorizadoEntregaId);
        }
        else
            Estado = "Agregar";
    }

    private async Task GuardarAutorizado()
    {
        var modificado = await autorizadosEntregaService.Guardar(Autorizado);
        if(modificado)
            NavManager.NavigateTo("/cuenta/autorizados");
    }
}