@page "/cuenta"
@inject UserManager<ApplicationUser> UserManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@rendermode InteractiveServer

<SectionContent SectionName="TituloPagina">
    <h1>CUENTA</h1>
</SectionContent>

<div class="glass-container profile-view">

    <div class="sub-nav-bar">
        <NavLink class="sub-nav-item" href="/cuenta">Perfil</NavLink>
        <div class="separator"></div>

        <NavLink class="sub-nav-item" href="/cuenta/direcciones">Direcciones</NavLink>
        <div class="separator"></div>

        <NavLink class="sub-nav-item active" href="/cuenta/autorizados">Autorizados</NavLink>
    </div>

    <div class="profile-content">
        <h3 class="section-title">Datos Personales</h3>

        <div class="form-grid">

            <div class="form-item">
                <label>Codigo</label>
                <div class="data-box">2024</div>
            </div>

            <div class="form-item">
                <label>Sucursal</label>
                <InputText class="data-box" @bind-Value="appUser.Municipio"/>
            </div>

            <div class="form-item">
                <label>Nombre</label>
                <InputText class="data-box" @bind-Value="appUser.NombreCompleto" />
            </div>

            <div class="form-item">
                <label>Cédula</label>
                <InputText class="data-box" @bind-Value="appUser.Identificacion" />
            </div>

            <div class="form-item">
                <label>Correo</label>
                <InputText class="data-box" @bind-Value="appUser.Email" />
            </div>
            <div class="form-item">
                <label>Teléfono</label>
                <InputText class="data-box" @bind-Value="appUser.PhoneNumber" />
            </div>
        </div>

        <div class="action-row">
            <button class="btn-save">Guardar Cambios</button>
        </div>
    </div>

</div>
@code
{
    private ApplicationUser? appUser;

    protected override async Task OnInitializedAsync()
    {
        // 1. Obtener el estado de autenticación (los claims)
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var userClaimsPrincipal = authState.User;

        if (userClaimsPrincipal.Identity.IsAuthenticated)
        {
            // 2. Usar el UserManager para buscar el usuario completo en la BD
            // Este método usa internamente el ID del ClaimsPrincipal para buscar
            appUser = await UserManager.GetUserAsync(userClaimsPrincipal);
        }
    }
}