@inherits LayoutComponentBase

<div class="auth-background">
    <div class="glass-card">

        <div class="logo-container">
            <img src="/Imagenes/logo_eps.png" alt="Logo EPS" class="logo-img" />
        </div>

        <div class="auth-content">
            @Body
        </div>

    </div>

    <div class="decoration-image"></div>
</div>