@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Sections

<div class="page">
    <header class="top-header">
        <div class="logo-container">
            <img src="/Imagenes/EPS_Barra_Superior.png" alt="EPS Logo" class="logo-img" />
        </div>
        <div class="header-title-container">
            <SectionOutlet SectionName="TituloPagina" />
        </div>
    </header>

    <div class="main-container">
        <main class="content">

            <div class="content-body">
                @Body
            </div>

            <div class="layout-footer d-flex justify-content-between">
                <div class="copyright-text">
                    EPS, Todos los Derechos Reservados
                </div>
                <div>
                    <a href="https://www.eps.com.do/terminos-condiciones-y-politica-de-privacidad" class="footer-link" target="_blank">
                        Terminos, condiciones y politica de privacidad
                    </a>
                </div>
            </div>
        </main>
        <aside class="sidebar-container">
            <NavMenu />
        </aside>
    </div>
</div>