@page "/"
@inject PaquetesService paquetesService
@rendermode InteractiveServer
@layout MainLayoutUsuario

<SectionContent SectionName="TituloPagina">
    <h1>INICIO</h1>
</SectionContent>

<div class="glass-container dashboard-view">

    <div class="cards-wrapper">

        <div class="stat-card">
            <div class="icon-wrapper">
                <i class="bi bi-box-seam-fill main-icon"></i>
                <i class="bi bi-check-circle-fill badge-icon"></i>
            </div>
            <div class="card-content">
                <h2>Disponibles</h2>
                <span class="count-number">@Disponibles</span>
            </div>
        </div>

        <div class="stat-card">
            <div class="icon-wrapper">
                <i class="bi bi-boxes main-icon"></i>
            </div>
            <div class="card-content">
                <h2>Tránsito</h2>
                <span class="count-number">@Transito</span>
            </div>
        </div>

        <div class="stat-card">
            <div class="icon-wrapper">
                <i class="bi bi-shield-fill-check main-icon"></i>
            </div>
            <div class="card-content">
                <h2>Condición Especial</h2>
                <span class="count-number">@Especiales</span>
            </div>
        </div>

    </div>
</div>

@code {
    public int Disponibles { get; set; } = 0;
    public int Transito { get; set; } = 0;
    public int Especiales { get; set; } = 0;

}