@page "/cuenta"
@rendermode InteractiveServer
@layout MainLayoutUsuario

<SectionContent SectionName="TituloPagina">
    <h1>CUENTA</h1>
</SectionContent>

<div class="glass-container profile-view">

    <div class="sub-nav-bar">
        <NavLink class="sub-nav-item" href="/cuenta">Perfil</NavLink>
        <div class="separator"></div>

        <NavLink class="sub-nav-item" href="/cuenta/direcciones">Direcciones</NavLink>
        <div class="separator"></div>

        <NavLink class="sub-nav-item active" href="/cuenta/autorizados">Autorizados</NavLink>
    </div>

    <div class="profile-content">
        <h3 class="section-title">Datos Personales</h3>

        <div class="form-grid">

            <div class="form-item">
                <label>Codigo</label>
                <div class="data-box">2024</div>
            </div>

            <div class="form-item">
                <label>Sucursal</label>
                <div class="data-box">Salcedo</div>
            </div>

            <div class="form-item">
                <label>Nombre</label>
                <div class="data-box"> William Rodriguez</div>
            </div>

            <div class="form-item">
                <label>Cédula</label>
                <div class="data-box">402-0000000-0</div>
            </div>

            <div class="form-item">
                <label>Correo</label>
                <div class="data-box">william@ejemplo.com</div>
            </div>
            <div class="form-item">
                <label>Teléfono</label>
                <div class="data-box">809-555-5555</div>
            </div>
        </div>

        <div class="action-row">
            <button class="btn-save">Guardar Cambios</button>
        </div>
    </div>

</div>